/* Below 1200px (Tablet Landscape) */
@media(max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* Below 960px (Tablet) */
@media(max-width: 60em) {
  html {
    font-size: 50%;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .icon-mobile-nav[name="menu-outline"] {
    display: block;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    transform: translateX(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 500ms ease-in;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.6rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .pricing-plan {
    width: 90%;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-text-box {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-form input,
  .cta-form select {
    width: 75%;
  }

  .cta button {
    margin-top: 1.4rem;
    width: 50%;
  }
}

/* Below 720px */
@media (max-width: 45em) {

  .grid-3-col,
  .grid-4-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos img {
    height: 2rem;
  }

  .diets {
    grid-column: 1 / -1;
  }

  .pricing-plan {
    width: 100%;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .testimonial-container {
    padding: 4.8rem;
  }

  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-area: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

/* Below 560px Phones */
@media (max-width: 35em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid-2-col,
  .grid-3-col,
  .grid-4-col,
  .testimonials,
  .cta {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem;
  }

  .section-hero {
    padding: 2.4rem 0 4.8rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.5rem;
  }

  .section-featured .container {
    padding: 0 2.4rem;
  }

  .section-how,
  .section-pricing,
  .section-meals,
  .footer {
    padding: 6.4rem 0;
  }

  .step-number {
    font-size: 6.4rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .meal {
    width: 80%;
    justify-self: center;
  }

  .tag-paleo {
    left: 60px;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan,
  .pricing-plan.starter {
    width: 80%;
    justify-self: center;
  }

  .cta-form input,
  .cta-form select {
    width: 100%;
  }

  .cta button {
    margin-top: 0;
    width: 100%;
  }
  .cta-img-box {
    height: 40rem;
    grid-row: 1;
    background-position: center;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
}